{% extends "base.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="/static/styles/ballot.css">
<script src="{{ url_for('static', filename='scripts/ballot.js') }}"></script>
{% endblock %}


{% block body %}
<header class="navigation">
    <div class="posts">
        <h4 id="positionsBtn" data-myid="{{ myid }}">Positions</h4>
    </div>
    <div>
        <h4 id='results'>Results</h4>
    </div>
    <button class='exit'>Logout</button>
</header>
<section class="ballot">
    <h1>Candidates for the {{ post }} Election</h1>
    <form action="/tally" id="ballot_form" method="post">
        <input type="hidden" name='voter_id' value='{{ myid }}'>
        <input type="hidden" id="position" name='post' value='{{ post }}'>
        Select your prefered candidate from the list
        <ul>
            {% for k, v in candidates.items() %}
            <li>
                <label>
                    <input type="radio" name='cand_id' value="{{ k }}">
                    <input type="hidden" name="cand_name" value="{{v.name}}">
                    <span>{{v.name}}</span>
                </label>
            </li>
            {% endfor %}
        </ul>
        <em>Click the button below to save your selection</em><br>
        <input type="submit" value="Record Candidate">
    </form>
</section>
<div>
    <!-- Select Positions at the top left of this webpage to display a navigation link.<br>
    Clicking on the links will automatically load the election for the selected page
    <br>
    You can view the results as they stream in by clicking on the E-results -->
    <p>
    To view your selected candidates for all positions, and submit your vote, click the Positions button at the top left of this page and then select <em>mychoice</em>.<br>
    <h4>DO NOT LOGOUT BEFORE Submitting your vote on the <em>mychoice</em> page</h4>
    </p>
</div>
<div id="positionsModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <ul></ul>
    </div>
</div>
{% endblock %}
