<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <title>{% block title %}eVoting{% endblock %}</title>
    {% endblock %}
    
</head>
<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul style="list-style-type: none;">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
    {% block body %}
    {% endblock %}
</body>
</html>