body {
    margin:0%;
    display: flex;
    flex-flow: row wrap;
}
header {
    width: 100%;
    height:60px;
    display:flex;
    flex-flow: row wrap;
    text-align: center;
    background-color:rgb(243, 59, 59);
    color: white;
    margin-bottom:30px;
}
header h1 {
    margin: 0 45%;
}
h4 {
    margin: 0%;
}
.exit {
	width: 6%;
	height: fit-content;
	background-color: whitesmoke;
	margin-left: 95%;
	border-radius: 10px;
	color: rgb(243, 60, 60);
}
.posts {
    width: fit-content;
    height: 70vh;
    border: solid 2px rgb(243, 60, 60);
    border-radius: 4px;
    padding: 30px;
    display: flex;
    flex-direction:column;
    margin:auto;
}
ul {
    list-style-type: none;
    width: 200px;
    height: 250px;
    border: solid 1px rgb(243, 60, 60);
    border-radius: 4px;
    padding-top: 20px;
}
h2 {
    width: 100%;
    margin-bottom:0;
}
fieldset {
    width:fit-content;
    height:fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-color: rgb(243, 60, 60);
    border-radius: 4px;
}
button[type="submit"] {
    background-color: rgb(243, 60, 60);
    border:solid 1px rgb(243, 59, 59);
    border-radius: 4px;
    color: white;
    margin-top: 10px;
}
button {
    background-color: rgb(243, 60, 60);
    border:solid 1px rgb(243, 59, 59);
    border-radius: 4px;
    color: white;
    margin-top: 10px;
    width: fit-content;
    height: fit-content;
}
