body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.exit {
	width: 6%;
	height: fit-content;
	margin-left: 70%;
	background-color: whitesmoke;
	border: solid, 1px rgb(243, 60, 60);
	border-radius: 10px;
	color: rgb(243, 60, 60);
    font-size: 15px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}

.navigation {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    flex-direction: row wrap;
    background-color: rgb(243, 59, 59);
}
.navigation div {
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.navigation h4 {
    margin-bottom: 0%;
    color: whitesmoke;
}
.popover {
    display: none;
    width: 80%;
    height: 60px;
    background-color: whitesmoke;
	margin: 0;
}

.posts:hover .popover{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style-type: none;
}

.ballot {
    width: 60%;
    height: 50vh;
    border: 1px solid whitesmoke;
    border-radius: 6px;
    margin: 60px auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
	background-color: whitesmoke;
}
.instructions {

}
h1 {
    text-align: center;
	margin-top: 30px;
	margin-bottom: 0;
}
form {
	width: 80%;
	height: 70%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
	justify-content: center;
	margin: 30px auto;
}
form ul {
	width: 80%;
	height: 40%;
	border: solid 1px rgb(243, 60, 60);
	border-radius: 5px;
    align-self: flex-start;
    list-style-type: none;
	margin: 0 auto;
	padding-top: 20px;
}
form input[type="submit"] {
    padding:5px;
    height: fit-content;
    background-color: rgb(243, 59, 59);
    color: white;
    border-radius: 4px;
    border: 0;
    font-size: 15px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}
.flash-messages {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    width: 300px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .flash-messages .flash-message {
    margin-bottom: 10px;
    padding: 10px;
  }
  
  .flash-messages .success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
  }
  
  .flash-messages .info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
  }
  
  .flash-messages .warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
  }
  
  .flash-messages .error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
  }
  