.candidates {
    width: 55%;
    height: 70vh;
    border: solid 2px rgb(243, 60, 60);
    border-radius: 4px;
    padding-left: 30px;
    display: flex;
    flex-flow:row wrap;
	align-items: center;
    align-content: flex-start;
	margin: auto;
}
.filter {
    width: 80%;
	display: inline;
    margin-right: 50%;
}
.add {
    margin-right: 50%;
}
