.candidates {
    width: 60%;
    height: 70vh;
    border: solid 2px rgb(243, 60, 60);
    border-radius: 4px;
    padding: 30px;
    display: flex;
    flex-flow:row wrap;
    align-items: center;
    align-content: flex-start;
    margin:auto;
}
.filter {
    width: 80%;
}
.candidates ul {
    margin-right: 30px;
}
.add {
    margin: auto;
    margin-right: 200px;
}