body {
	font-family: sans-serif;
	margin: 0;
}

header {
	background-size:auto;
  background-repeat: repeat-x;
  background-image: url('images/e-voting');
	color: #fff;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 20px;
}
#feature div {
    margin: auto;
}
#feature ul {
    display: flex;
    flex-flow: column;
	list-style: none;
    justify-content: space-between;
	margin: 0;
	padding: 0;
}
.describe {
    font-size: 16px;
	margin: auto;
	line-height: 1.5;
    height: fit-content;
    width: fit-content;
}
#feature img {
	display: block;
}
#feature li {
    display: flex;
    margin-bottom: 30px;

}
img {
    max-width: 100%;
    height: auto;
}

.images {
    width: 50%;
    height: 350px;
    position: relative;
    overflow: hidden;
}
.images img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.logo {
	margin-top: 50px;
}

.logo h1 {
	font-size: 72px;
	margin: 0;
}

.logo p {
	font-size: 24px;
	margin: 0;
	line-height: 1.5;
  font-family:Georgia, 'Times New Roman', Times, serif 
}

h1, .highlight {
	color: black;
  font-weight: bold;
}

nav ul {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li {
	margin-right: 20px;
}

nav a {
	color: #fff;
	text-decoration: none;
}

nav a:hover {
	text-decoration: underline;
}

main {
	padding: 20px;
}

section {
	margin-bottom: 50px;
}

h2 {
	font-size: 36px;
	margin-top: 0;
}

.button {
	background-color: #333;
	border: none;
	border-radius: 4px;
	color: #fff;
	display: inline-block;
	font-size: 18px;
	padding: 10px 20px;
	text-decoration: none;
}

.button:hover {
	background-color: rgb(219, 17, 17);
	cursor: pointer;
}
.about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px;
    background-color: white;
    color: black;
  }
  
  .inspiration,
  .contact-us,
  .github-repo {
    flex-basis: calc(33.33% - 20px);
    margin-bottom: 30px;
  }
  
  .inspiration h2,
  .contact-us h2,
  .github-repo h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .inspiration p {
    font-size: 16px;
    line-height: 1.5;
  }
  
  .contact-us ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .contact-us li {
    margin-bottom: 10px;
  }
  
  .contact-us a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0077b5;
    color: white;
    border-radius: 5px;
    text-decoration: none;
  }
  
  .github-repo p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .github-repo a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #24292e;
    color: white;
    border-radius: 5px;
    text-decoration: none;
  }
  