<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../static/styles/admin.css">
        <link rel="stylesheet" type="text/css" href="../static/styles/candidates.css">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="{{ url_for('static', filename='scripts/admin.js') }}"></script>
        <title>eVoting</title>
    </head>
    <body>
        <header>
            <h1>iKURA</h1>
            <div><h4 id='results'>E-results</h4></div>
			<button class="exit">Exit</button>
        </header>
        <section class="posts">
            <h2>Election Positions</h2>
            <ul>
            {% for position in positions %}
				<li>{{ position }}</li>
            {% endfor %}
			</ul>
            <fieldset>
                <legend>Add New Position</legend>
                <form action="/add" method="POST">
				    <input type="hidden" name="form_id" value="position">
                    <input type="text" name="Position" placeholder="Position Name">
                    <br>
                    <button type="submit">Add position</button>
                </form>
            </fieldset>
            <br>
            <fieldset>
                <legend>Delete Post</legend>
                    <form action="/delete" method="POST">
                        <input type="text" name="post_id" placeholder="Enter position to delete">
                        <br>
                        <button type="submit">Delete</button>
                    </form>
            </fieldset>
        <button name="clearposts">Clear Posts</button>            
        </section>
        <section class="candidates">
            <h2>Candidates</h2>
            <fieldset class="filter">
                <legend>Filter candidates position</legend>
                <input type="text" id="filterpost">
                <button id="search">Search</button>
            </fieldset>
            <ul id='all'>
				<h3>ID&ensp;Name&ensp;Position</h3>
                    {% for k, v in candidates.items() %}
						<li>{{k}}&ensp;{{v.name}}&emsp;{{v.post}}</li>
                    {% endfor %}
            </ul>
            <fieldset class="add">
                <legend>Add Candidate</legend>
                <form action="/add" method="POST">
				    <input type="hidden" name="form_id" value="candidate">
                    <label for="voter_id">Voter ID: </label>
                    <input type="number" name="voter_id">
                    <br>
                    <br>
                    <label for="post_id">Position: </label>
                    <input type="text" name="post_id">
                    <br>
                    <button type="submit">Add</button>
                </form>
            </fieldset>
        <button name="clearcands">Clear Candidates</button>
        </section>
    </body>
</html>
