{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="/static/styles/ballot.css">
	<script src="{{ url_for('static', filename='scripts/ballot.js') }}"></script>
{% endblock %}
{% block body %}
        <header class="navigation">
            <div class="posts">
                <h4>Positions</h4>
                <ul class="popover">
			    {% for position in positions %}
                    <li><a href="{{ url_for('views.vote', myid=myid, post=position) }}">{{ position }}</a></li>
				{% endfor %}
                <li><a href="{{ url_for('views.selection', myid=myid) }}" >mychoice</a></li>
                </ul>
            </div>
            <div><h4 id='results'>E-results</h4></div>
            <button class='exit'>Exit</button>
        </header>
        <section class="ballot">
            <h1>Election for {{ post }}</h1>
            <form action="/tally" id="ballot_form" method="post">
			    <input type="hidden" name='voter_id' value='{{ myid }}'>
			    <input type="hidden" name='post' value='{{ post }}'>
			    Select your prefered candidate from the list
                <ul>
				{% for k, v in candidates.items() %}
					<li>
						<label>
                        	<input type="radio" name='cand_id' value="{{ k }}" checked required>
                            <input type="hidden" name="cand_name" value="{{v.name}}">
							<span>{{v.name}}</span>
				{% endfor %}
                </ul>
                <em>Click the button <strong>Vote</strong> to confirm your selected candidate</em>
                <input type="submit" value="Record Candidate">
            </form>
        </section>
		<div>
			Select Positions at the top left of this webpage to display a navigation link.<br>
			Clicking on the links will automatically load the election for the selected page
			<br>
			You can view the results as they stream in by clicking on the E-results
            <p><h4>DO NOT LOGOUT or exit BEFORE SUBMITTING YOUR VOTES as this will remove your choices</h4></p>
            Navigate to 'mychoice' under the Positions tab then click Vote
		</div>
{% endblock %}
