<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/styles/login.css">
        <title>eVoting</title>
    </head>
    <body>
        <header></header>
        <section>
            <div class="login">
                <h3>eVote</h3>
                <form method="post" action='/auth'>
                    <h4>User ID</h4>
                    <input type="text" name="user-id">
                    <h4>Password</h4>
                    <input type="password" name="password">
                    <br>
                    <button type="submit">Log in</button>
                  </form>
            </div>
        </section>
    </body>
</html>
