{% extends "base.html" %}
{% block head %}
    {{ super() }}
        <link rel="stylesheet" type="text/css" href="../static/styles/admin.css">
        <link rel="stylesheet" type="text/css" href="../static/styles/candidates.css">
        <script src="{{ url_for('static', filename='scripts/portal.js') }}"></script>
{% endblock %}
{% block body %}
        <header>
            <h1>iKURA</h1>
			<button class="exit">Exit</button>
        </header>
        <section class="candidates">
            <h2>Election Results</h2>
            <fieldset class="filter">
                <legend>Filter positions</legend>
                <input type="text" id="filterpost">
                <button name="results">Search</button>
            </fieldset>
			<ul id="candidates">
				<h3>Name&emsp;Position&ensp;Votes</h3>
                   	{% for k, v in candidates.items() %}
						<li>{{v.name}}&emsp;{{v.post}}&emsp;{{v.votes}}</li>
                   	{% endfor %}
            </ul>
        </section>
{% endblock %}